{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="box-element product">
                <img class="thumbnail" src="{{product.imageURL}}">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block;float: right" >${{product.price|floatformat:2}}</h4>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
